/* Juego80s.css */

.contenedor-principal {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .mensaje-correcto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 255, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    text-align: center;
    z-index: 1000;
  }
  
  .mensaje-incorrecto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    text-align: center;
    z-index: 1000;
  }
  
  .panel-pregunta {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;            /* Ocupará el 90% del ancho de la pantalla */
    max-width: 600px;       /* Mantén un ancho máximo para pantallas grandes */
    padding: 1rem; 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
  }

  .imagen-pregunta {
    position: "relative";
    width: 50%;
    height: 50%;
    transition: left 0.5s ease, top 0.5s ease;
  }

  
  .panel-fin-juego {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .Reinicio {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Estilo para los botones de respuesta */
.panel-pregunta button {
  background-color: #007bff; /* Color de fondo azul */
  color: white; /* Color del texto */
  padding: 15px 30px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 1.2rem; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor a mano */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  margin: 5px; /* Espaciado entre botones */
}

.panel-pregunta button:hover {
  background-color: #0056b3; /* Color más oscuro al pasar el mouse */
  transform: translateY(-2px); /* Efecto de elevación */
}

.panel-pregunta button:active {
  transform: translateY(0); /* Devuelve a la posición original al hacer clic */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Efecto de hundimiento */
}


  @media (max-width: 768px) {
    .panel-pregunta {
      width: 95vw;          /* Amplía el ancho en dispositivos móviles */
      padding: 1.5rem;      /* Aumenta el relleno para facilitar lectura */
      font-size: 0.9rem;    /* Ajusta tamaño de fuente para que quepa el texto */
    }
  
    
}