.pantalla-inicio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/portada80s.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contenedor-seleccion {
  background-color: rgba(0, 0, 0, 0.5); /* Más transparencia */
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.contenedor-seleccion h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.botones-modos button {
  padding: 10px 20px;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
}

.contenedor-seleccion input {
  width: 70px; /* Más ancho */
  padding: 5px;
  text-align: center;
  margin-right: 10px;
  border-radius: 5px;
}

.contenedor-seleccion input::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Color del placeholder */
}

.contenedor-seleccion button {
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
}

.error {
  color: #ff4d4d; /* Color rojo para el mensaje de error */
  font-size: 0.9rem;
  margin-top: 10px;
}

.en-construccion {
  color: #ff4d4d;
  font-size: 1rem;
  margin-top: 20px;
  font-weight: bold;
}
